@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/*
  From Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
    /* outline: 1px red solid; */
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* mobile: 328x516px */
/* mobile pic-size: 328x200px */    /* 1.55fr on vertical */
/* mobile secondary: 328x313px */   /* 2fr on vertical */
/* mobile tooltip: 328x63px */
/* desktop 732x279 */
/* desktop pic-size: 285x279px */   /* 1.3fr on horizontal */
/* desktop secondary: 445x279px */  /* 2fr horizontal */
/* desktop tooltip: 248x55px */

:root {
    /* primary */
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    --white: hsl(0, 0%, 100%);

    /* font body-copy */
    --fs-body-copy: 13px;
}

html {
    font-size: var(--fs-body-copy);
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: green; /* var(--light-grayish-blue); */
    
    display: flex;
    flex-direction: column;
}

button {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: none;
}

.container {
    display: grid;
    grid-template-rows: 1.55fr 2fr;
    
    border-radius: 1rem;
    background-color: var(--white);
    
    align-self: center;
    margin: 0 7rem;
    min-width: 330px;
    margin-top: auto;
}

.product {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* controls which part of image is shown, 
    provided image is bigger than container: */
    object-position: 50% 20%; 
}

.primary {
    margin: 2.5rem;
}

.primary h1 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.target {
    display: flex;
    flex-direction: row-reverse;
    /* background-color: magenta; */
    /* background-color: var(--very-dark-grayish-blue); */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: .75rem 2.55rem;
}

.user {
    /* width: 100%;   */  
    
    /* CONTENT INSIDE THE CARD */
    display: flex;
    gap: 1rem;    
}

.user-picture {
    border-radius: 50%;
    height: 3.54rem;
    width: 3.54rem;
}

.user-data {
    align-self: center;
}
.name,
.date {
    text-align: start;
}

.date {
    color: var(--grayish-blue);
}

button {
    /* margin-left: auto; */
    margin: .5rem 0 .5rem auto;

}
.icon-share {
    scale: 1.2;
    padding: .5rem;
    background-color: var(--light-grayish-blue); 
    clip-path: circle(1rem);
}

.icon-share:hover {
    cursor: pointer;
}

.tooltip {
    /* background-color: var(--very-dark-grayish-blue); */
    display: flex;
    gap: 1.25rem;
    padding: 1rem 0;
    /* border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; */
}

.tooltip > span {
    text-transform: uppercase;
    color: var(--grayish-blue);
    letter-spacing: .5rem;
    /* margin: auto .75rem; */
}

.tooltip > * {
    place-self: center;
    align-self: center;
}

.icon-dark {
    filter: invert(80%) brightness(220%);
}

.target-dark {
    background-color: var(--very-dark-grayish-blue);
}

.hidden {
    display: none;
}

footer {
    padding: .5rem 0;
    margin-top: auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
    .container {
        grid-template-columns: 1.3fr 2fr;
        grid-template-rows: 1fr .2fr;
        max-width: 732px;
    }

    .primary h1 {
        font-size: 1.5rem;
    }

    .product {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 5%;
        border-top-right-radius: unset;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    .secondary {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        border-bottom-left-radius: unset; 
        /* position: relative; */
    }

    .target {
        position: relative;
        border-bottom-left-radius: 0;
    }

    .tooltip {
        background-color: var(--very-dark-grayish-blue);
        /* TO DO: box shadow & tooltip arrow */
        /* gap: 1rem; */
        width: 19rem;
        border-radius: .8rem;
        justify-content: space-evenly;
        padding: 1.4rem 2rem;
        position: absolute;
        top: -100%;
        /* left: 62%; */
        right: -75px;
        
    }

    .tooltip::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        
        width: 0;
        height: 0;
        border: 10px solid var(--very-dark-grayish-blue);
        border-color: var(--very-dark-grayish-blue) transparent transparent transparent;
    }

    /* .user.hidden {
        display: flex;
    } */

}