@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/*
  From Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
    /* outline: 1px red solid; */
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* mobile: 328x516px */
/* mobile pic-size: 328x200px */
/* 1.55fr on vertical */
/* mobile secondary: 328x313px */
/* 2fr on vertical */
/* mobile tooltip: 328x63px */
/* desktop 732x279 */
/* desktop pic-size: 285x279px */
/* 1.3fr on horizontal */
/* desktop secondary: 445x279px */
/* 2fr horizontal */
/* desktop tooltip: 248x55px */

:root {
    /* primary */
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-grayish-blue-shadow: hsla(217, 19%, 35%, 0.5);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    --white: hsl(0, 0%, 100%);

    /* font body-copy */
    --fs-body-copy: 13px;
}

html {
    font-size: var(--fs-body-copy);
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--light-grayish-blue);

    display: flex;
    flex-direction: column;
}

/* further reset for button */
button {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: none;
}

.container {
    display: grid;
    grid-template-rows: 1.55fr 1.8fr;

    border-radius: 1rem;
    background-color: var(--white);

    /* centers container in the viewport */
    align-self: center;
    /* container clearance from sides of viewport, especially at narrow widths */
    margin: 0 7rem;
    min-width: 330px;
    margin-top: auto;
}

.product {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* controls which part of image is shown, 
    provided image is bigger than container: */
    object-position: 50% 20%;
}

.primary {
    margin: 2.5rem 2.5rem 0 2.5rem;
}

.primary h1 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.target {
    display: flex;
    flex-direction: row-reverse;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem 2.55rem;
}

.user {
    /* content inside the group */
    display: flex;
    gap: 1rem;
    
    margin-bottom: .54rem;
}

.user-picture {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.user-data {
    align-self: center;
}

.name,
.date {
    text-align: start;
}

.date {
    color: var(--grayish-blue);
}

button {
    margin-block: .27rem;
    margin-left: auto;
}

.icon-share {
    transform: scale(1.2);
    padding: .5rem;
    background-color: var(--light-grayish-blue);
    clip-path: circle(1rem);
    transition: 0.3s ease-in-out;
}

.icon-share:hover {
    cursor: pointer;
}

.tooltip {
    display: flex;
    gap: 1.25rem;
    padding: 1rem 0;
}

.tooltip > span {
    text-transform: uppercase;
    color: var(--grayish-blue);
    letter-spacing: .5rem;
}

.icon-dark {
    filter: invert(80%) brightness(220%);
}

.target-dark {
    background-color: var(--very-dark-grayish-blue);
    transition: 0.3s ease-in-out;
}

.hidden {
    display: none;
}

footer {
    padding: .5rem 0;
    margin-top: auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
    .container {
        grid-template-columns: 1.3fr 2fr;
        grid-template-rows: 1.2fr .2fr;
        max-width: 732px;
    }

    .primary h1 {
        font-size: 1.5rem;
    }

    .product {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 5%;
        border-top-right-radius: unset;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    .secondary {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        border-bottom-left-radius: unset;
    }

    .target {
        position: relative;
        border-bottom-left-radius: 0;
        padding-block: 1.5rem 2rem;
    }

    .tooltip {
        background-color: var(--very-dark-grayish-blue);
        width: 19rem;
        border-radius: .8rem;
        justify-content: space-evenly;
        padding: 1.4rem 2rem;
        position: absolute;
        bottom: 95%;
        /* using percent in 'right' will not fix its position with regard to the 'share arrow' */
        right: -75px;
        /* left: 273px; */ /* using this, it will still shift position as the viewport narrows */
        filter: drop-shadow(0 5px 5px var(--very-dark-grayish-blue-shadow));
        animation: appear .5s ease-in-out;
    }

    /* tooltip arrow */
    .tooltip::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);

        width: 0;
        height: 0;
        border: 10px solid var(--very-dark-grayish-blue);
        border-color: var(--very-dark-grayish-blue) transparent transparent transparent;
    }

    /* animate appearance only, not disappearance */
    @keyframes appear {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

}